<footer class="footer bg-white">
	{% include footers/social.html %}
	{% include footers/meta.html %}
</footer>
<script src="//cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
<script src="{{ "/assets/js/qrcodejs.js" }}"></script>
<script src="{{ "/assets/js/action.js" }}"></script>
<script src="{{ "/assets/js/cb-search.js" }}"></script>
{% if site.comments %}
  {% if site.comments.gitalk %}
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
		<script>
		  var gitalk = new Gitalk({
		    clientID: '{{ site.comments.gitalk_clientID}}',
		    clientSecret: '{{ site.comments.gitalk_secret }}',
		    repo: '{{ site.comments.gitalk_repo }}',
		    owner: '{{ site.comments.gitalk_owner }}',
		    admin: '{{ site.comments.gitalk_admin }}',
		    id: location.pathname,
		    distractionFreeMode: '{{ site.comments.distractionFreeMode}}'
		  })
		  gitalk.render('comments')
		</script>
  {% endif %}
{% endif%}
<script>
$(function () {
  setTimeout(function () {
    $('code').removeClass('hljs');
    $('code').removeClass('language');
  }, 90);
});
(function(){
  var bp = document.createElement('script');
  var curProtocol = window.location.protocol.split(':')[0];
  if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(bp, s);
})();
</script>
