<header id="header" class="header bg-white">
  <div class="navbar-container">
    <a href="/" title="访问 {{  site.title }}" class="navbar-logo">
			{% if site.logo_url %}
			<img src="{{ site.logo_url }}" alt="{{ site.title }}">
			{% else %}
			{{site.title}}
			{% endif %}
		</a>
    <div class="navbar-menu">
      {% for link in site.data.navs %}

        {% assign current_nav = link.url | remove_first:'/' %}
    	  <a href="{{ link.url }}"  title="访问 {{ link.name }}" data-hover="{{link.name}}" class="{%if page.collection == current_nav %}active{% endif%}">{{ link.name }}</a>
      {% endfor %}
    </div>
    <div class="navbar-search">
      <span class="icon-search"></span>
      <form method="post" action="/404.html" role="search">
      	<span class="search-box">
     			<input type="text" class="input" id="cb-search-content" required="true" placeholder="标题 标签..." maxlength="30" autocomplete="off">
        </span>
      </form>
    </div>
    <div class="show-qrcode">
      <span>手机浏览</span>
      <div id="qrcode"></div>
    </div>
    <div class="navbar-mobile-menu">
      <span class="icon-menu cross"><span class="middle"></span></span>
      <ul>
      	{% for link in site.links %}
        <li>
					<a href="{{ link.url }}" title="访问 {{ link.name }}" data-hover="{{link.name}}">{{ link.name }}</a>
				</li>
      	{% endfor %}
      </ul>
    </div>
  </div>
</header>
