---
layout: basic
---
<style>
  .download-wrap {
    position: fixed;
    bottom: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
<div class="main-content" id="about">
  <div class="markdown-body">
    {{ content }}
  </div>
</div>
<div class="download-wrap">
  <img src="/assets/images/export-pdf-80.png" alt="下载pdf">
  <span class="download-btn">下载pdf简历</span>
</div>
<script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
<!-- <script src="https://cdn.bootcss.com/jspdf/1.3.5/jspdf.min.js"></script> -->
<!-- <script src="https://cdn.bootcss.com/jspdf/1.3.5/jspdf.debug.js"></script> -->
<script src="/assets/js/jspdf.customfonts.min.js"></script>
<!-- <script src="/assets/js/jspdf.customfonts.debug.js"></script> -->
<!-- <script src="/assets/js/default_vfs.js"></script> -->
<script src="/assets/js/kaiti-normal.js"></script>
<!-- <script src="/assets/js/html2canvas.min.js"></script> -->
<script type="text/javascript">
  var doc = new jsPDF('p', 'pt');
  // doc.addFont('NotoSansCJKtc-Regular.ttf', 'NotoSansCJKtc', 'normal');
  doc.setFont('kaiti');
  var filename  = 'blog.zhangmoumou.com.pdf';
  var source = document.getElementById("about");
  doc.fromHTML(source, 15, 15, {
    'width': 180,
    'elementHandlers': {
      '#ignorePDF': function (element, renderer) {return true;}
    }
  });
  window.onload = function () {
    $(".download-wrap").click(function() {
      // downloadPdf()
      // downloadResume()
      doc.save(filename)
    })
  }
  // doc.outsput("dataurlnewwindow");

  function downloadResume() {
    var utf_8_string_to_render = 'any_value_you_want';
    Promise.all([
      new Promise(function (resolve) {
        // var temp = document.createElement("div");
        // temp.id = "temp";
        // temp.style = "color: black;margin:0px;font-size:20px;";
        // phrase = utf_8_string_to_render;
        // temp.innerHTML= phrase;
        // //need to render element, otherwise it won't be displayed
        // document.body.appendChild(temp);

        html2canvas(source, {
          onrendered: function(canvas) {
            resolve(canvas.toDataURL('image/png'));
          },
        });
      })
    ]).then(function (ru_text) {
      doc.addImage(ru_text[0], 'JPEG', 0,0);
      doc.text(0, 10, 'Non-utf-8-string' );
      doc.save('filename.pdf');
    });
  }

  function downloadPdf () {
    html2canvas(source).then(canvas => {
      let pdf = new jsPDF('p', 'mm', 'a4');
      pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 0, 0, 211, 298);
      pdf.save(filename);
    });
  }
</script>
